  <h1><%= link_to '今節/みどころ', '/cards' %></h1>
  <h1><%= link_to '前節/採点結果', '/gradings' %></h1>
  <h1><%= link_to '写真', '/photos' %></h1>
  <h1><%= link_to 'コラム', '/columns' %></h1>
  <h1><%= link_to 'チーム紹介/観戦プラン', '/teams' %></h1>
  <h1><%= link_to 'ランキング', '/players/show' %></h1>